/* SMALL LAPTOPS*/
@media (max-width: 1600px) {
  header h1 {
    font-size: 6rem;
  }

  header p {
    margin-top: 6rem;
  }

  #drop-down {
    right: 3rem;
  }

  #drop-down-menu-display {
    margin-left: -3.5rem;
  }

  #drop-down-menu-display h2 {
    font-size: 2rem;
  }

  #vid-display {
    gap: 1rem;
    /* margin-right: 1rem; */
  }
}

@media (max-width: 1350px) {
  header h1 {
    font-size: 5rem;
  }

  header img {
    width: 6rem;
  }

  #drop-down-bars {
    width: 3rem;
    height: 3rem;
  }

  #drop-down a span {
    height: 0.25rem;
  }

  header p {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  #drop-down-menu-display {
    margin-left: -5rem;
  }

  #vid-display {
    margin-right: 0;
  }
}

/* TABLE STYLES PORTRAIT*/
@media (max-device-width: 1100px) and (orientation: portrait) {
  header h1 {
    font-size: 3.5rem;
  }

  header img {
    width: 4rem;
  }

  header p {
    font-size: 1.2rem;
    margin-top: 3.7rem;
  }

  #drop-down {
    right: 2rem;
  }

  #drop-down-menu-display {
    margin-left: -3rem;
  }

  #drop-down-menu-display h2 {
    font-size: 1.7rem;
    padding: 0.5rem 1.2rem;
  }

  #socials {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  #socials img {
    height: 3rem;
  }

  #vid-display {
    display: block;
  }

  #tablet-row1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #tablet-row2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

/* BIG PHONE STYLES PORTRAIT*/
@media (max-device-width: 768px) and (orientation: portrait) {
  #pic-text-container {
    display: block;
  }

  header img {
    width: 6rem;
  }

  header h1 {
    margin-top: -0.5rem;
    font-size: 3rem;
  }

  header p {
    font-size: 1rem;
    margin-top: 2.7rem;
  }

  #drop-down {
    right: 3rem;
  }

  #drop-down-menu-display {
    margin-left: -2.5rem;
  }

  #socials {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  #bigPhone-row1 {
    display: flex;
    justify-content: center;
  }

  #bigPhone-row2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

/* SMALL PHONE STYLES PORTRAIT*/
@media (max-device-width: 401px) and (orientation: portrait) {
  header h1 {
    margin-top: 0;
    font-size: 2.2rem;
  }

  header p {
    font-size: 0.9rem;
    margin-top: 2.3rem;
  }

  #drop-down {
    right: 2rem;
  }

  #drop-down-menu-display {
    margin-left: -3rem;
  }

  #socials img {
    height: 2.5rem;
  }

  #smallPhone-row1 {
    display: flex;
    justify-content: center;
  }

  #smallPhone-row2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

/* ------------------------------------------------------------ */

/* PHONE / TABLET STYLES LANDSCAPE (define for all possibilities) */
@media (max-device-width: 1100px) and (orientation: landscape) {
  #vid-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #tablet-row1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #tablet-row2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #bigPhone-row1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #bigPhone-row2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #smallPhone-row1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #smallPhone-row2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  /* header img {
    width: 8rem;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header p {
    margin-top: 2.6rem;
  }

  #drop-down-bars {
    width: 3rem;
    height: 3rem;
  }

  #drop-down a span {
    height: 0.25rem;
  }

  #drop-down-menu-display {
    margin-left: -1.5rem;
  }

  #drop-down-menu-display h2 {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  #socials {
    margin-top: -0.25rem;
    margin-bottom: 0.75rem;
  }

  #socials img {
    height: 3.5rem;
  } */
}

/* @media (max-device-width: 1150px) and (orientation: landscape) {
  header {
    margin-top: 0;
  }

  header img {
    width: 9rem;
  }

  header h1 {
    margin-top: 0.1rem;
    font-size: 3rem;
  }

  header p {
    font-size: 1rem;
    margin-top: 3.1rem;
  }

  #drop-down {
    margin-top: 3rem;
    margin-left: -4.5rem;
  }

  #drop-down-bars {
    width: 3rem;
    height: 3rem;
  }

  #drop-down a span {
    height: 0.25rem;
  }

  #drop-down-menu-display {
    margin-left: -2.2rem;
  }

  #drop-down-menu-display h2 {
    font-size: 1.5rem;
    padding: 0.5rem 1.2rem;
  }

  #socials {
    gap: 1rem;
    margin-top: -0.25rem;
    margin-bottom: 1rem;
  }

  #socials img {
    height: 3.5rem;
  }

  #yt-shorts-row-big {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  #yt-vid-wide {
    margin-top: 0.5rem;
  }
} */
