body {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

/* for error pages */
h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
}

#background-pic {
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.15;
}

header,
section {
  text-align: center;
}

/* header {
  margin-top: 1rem;
} */

#pic-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#pic-text-container:hover {
  transform: scale(1.1);
}

#logo-text {
  display: flex;
  justify-content: center;
}

header img {
  width: 8rem;
  border-radius: 50%;
}

header h1 {
  font-size: 7rem;
}

header p {
  font-size: 1.5rem;
  font-style: italic;
  position: absolute;
  margin-top: 7rem;
}

#drop-down {
  position: absolute;
  top: 1.5rem;
  right: 7rem;
}

#drop-down:hover {
  transform: scale(1.2);
}

#drop-down-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5rem;
  height: 5rem;
}

#drop-down a span {
  width: 100%;
  height: 0.5rem;
  background-color: black;
}

#drop-down-menu-display {
  position: absolute;
  margin-top: -0.2rem;
  margin-left: -4.7rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 10px;
  /* display: none; */
}

#drop-down-menu-display h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border: none;
}

#drop-down-menu-display h2:hover {
  background-color: rgb(215, 215, 215);
  border-radius: 10px;
}

#socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

#socials img {
  height: 4rem;
}

#socials img:hover {
  transform: scale(2);
}

#vid-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#bigDesktop-column1 {
  text-align: right;
}

.yt-vid {
  border-radius: 1.5rem;
  border: 3px solid black;
}

.yt-vid:hover {
  transform: scale(1.15);
}

.hidden {
  display: none;
}
